body {
    margin-inline: 0px;
}

p {
    font-size: 16px;
}

.footer {
    background-color: rgb(181, 216, 230);
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.container {
    height: 700px;
    background-image: url("./media/tausta.jpg");
    background-size: cover;
    background-position: 70% 40%;
    padding-top: 200px;
}

.opiskelu {
    background-image: url("./media/opiskelu_tausta.jpg");
    background-position: 70% 40%;
}

.asuminen {
    background-image: url("./media/asuminen_tausta.jpg");
    background-position: 70% 40%;
}

h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 400px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: fit-content;
    border-bottom: solid 1px;
}

.textbox {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px;
}

.textbox h3 {
    margin-top: 50px;
    margin-bottom: 0px;
    font-size: 25px;
}

.textbox img {
    width: 100%;
    margin-top: 20px;
}

.textbox .row {
    display: flex;
    margin-top: 60px;
}

.row .text {
    flex: 60;
    margin: auto;
    padding-inline: 20px;
}

.row .image {
    flex: 40;
    margin: auto;
}

.row img {
    margin: auto;
}

.navbar {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
}

.navbar p {
    border-right: solid 1px;
    padding-left: 8px;
    padding-right: 10px;
}

.navbar p:hover {
    cursor: pointer;
}