body {
    margin-inline: 0px;
}

.footer {
    background-color: rgb(181, 216, 230);
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.container {
    height: 700px;
    background-image: url("./media/tausta.jpg");
    background-size: cover;
    background-position: 70% 40%;
    padding-top: 100px;
}

.container h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 400px;
    background-color: rgba(0,0,0, 0.5);
    color: white;
}

.container .textbox {
    background-color: white;
    width: 70%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    border: solid 1px;
}
